html {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
input {
    margin-right: 0.5rem;
    padding: 1rem;
    border-radius: 20px;
}
#commentBtn {
    padding: 1rem;
    cursor: pointer;
    border-radius: 20px;
}
.comment-box {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    /* margin-top: 1rem; */
    border: 1px solid black;
    min-height: 10vh;
    width: 500px;
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 1.5rem;
    position: relative;
    visibility: hidden;
}

.comment-content {
}
.reply-btn {
    cursor: pointer;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
}